# Spring
SPRING_PROFILES_ACTIVE=dev
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

# MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=

# Redis
SPRING_DATA_REDIS_HOST=
SPRING_DATA_REDIS_PORT=
REDIS_PORT=

# JWT
JWT_SECRET=
JWT_ACCESS_EXPIRATION=
JWT_REFRESH_EXPIRATION=

# CORS
CORS_ALLOWED_ORIGINS=